body {
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 20px;
}

.title {
  font-family: "Pacifico", cursive;
  color: #29d0d8;
}

.weather-app-card {
  display: block;
  background-image: url("image-background.jpg");
  background-position: center;
  min-height: 1000px;
  max-width: 700px;
  border: solid 1px #1fd7e0;
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px;
}

.weather-temperature {
  margin: 0 auto;
}

.title {
  padding: 10px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

.btn-primary {
  padding: 10px;
  background: #29d0d8;
  color: white;
  border: none;
}

.btn-primary:hover {
  color: #29d0d8;
  background: white;
  border: 2px solid #29d0d8;
}

small {
  display: block;
  text-align: center;
  margin: 10px;
}

.form-control {
  margin-bottom: 20px;
  padding: 10px;
}

#temperature {
  color: #1fd7e0;
  font-size: 40px;
}

.weather-icon {
  margin: 0 auto;
}
