body {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
}

.container {
  margin: 0 auto;
}

.title {
  font-family: "Pacifico", cursive;
  color: #ffe321;
}

.weather-app-card {
  display: block;
  background-image: url("blue.jpg");
  background-position: center;
  max-width: 500px;
  border: solid 1px #ffe321;
  border-radius: 15px;
  margin: 20px auto;
  padding: 20px;
}

.weather-temperature {
  margin: 0 auto;
  margin: 0 auto;
}

.title {
  padding: 10px;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: left;
}

.form-control {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
}

.btn-primary {
  margin-top: 50px;
  padding: 20px;
  background: #ffe321;
  color: white;
  border: none;
}

.btn-primary:hover {
  color: #ffe321;
  background: white;
  border: 2px solid#ffe321;
}

small {
  display: block;
  text-align: center;
  margin: 10px;
  color: black;
}

#temperature {
  color: #ffe321;
  font-size: 50px;
}

.weather-icon {
  margin: 0 auto;
}

.weather-details {
  margin: 0 auto;
  padding: 50px;
}

#fahrenheit-link,
#celsius-link {
  color: #ffe321;
}

li {
  text-align: left;
}
